In [3]:
a = 5

In [4]:
type(a)

int

In [5]:
a = str(a)

In [6]:
type(a)

str

In [7]:
print(a)

5

In [2]:
print(2)

2

In [33]:
a = 'hello'

In [34]:
a = 6
b= 7
c = 8

In [49]:
a, b, c = 6,7,8
print(a,b,c)

6 7 8

In [38]:
a = 5
b = 6

In [42]:
c = a + b

In [44]:
print(c)

11

In [1]:
listt  =[1,2,3,4,5,'ahsvhja','anjbfshjbza']
print(listt[5])

ahsvhja

In [57]:
string = 'Hello World'
string

'Hello World'

In [55]:
string[0:5]

'Hello'

In [66]:
a = 6
if a > 5:
    print(a)
else:
    print(a)

6

In [74]:
a = 'Ahmedabad'
b = len(a)
c = 9
b,c

(9, 9)

In [3]:
a = 5
#type(a)
#print(a)

c = str(a)

type(c)

str

In [84]:
range(10)

range(0, 10)

1
2
3
4
5
6
7
8
9
10

In [86]:
print(3+6)

9

In [88]:
a = 'Hello'
b = 'World'
c = a* 2
c

'HelloHello'

In [1]:
x=int(input())
y=str(input("enter val x:"))
z=int(input("enter val x:"))

10
enter val x:ABC
enter val x:100

In [2]:
x,y,z

(10, 'ABC', 100)

In [2]:
l = [1,2,3,4,5,6,7,8,9,10]

213

In [8]:
l[1:5:2]

[2, 4]

In [39]:
info={ "name":["rishabh","Hello"],
       "age": [24,89]}

In [22]:
for i in info.items():
    print(i)

('name', ['rishabh', 'Hello'])
('age', [24, 89])

In [26]:
for i,j in info.values():
    print(j)

Hello
89

In [27]:
for i,j in info.items():
    print(i,j)

name ['rishabh', 'Hello']
age [24, 89]
true

In [30]:

if "age" in info:
    print("true")
else:
    print("false")

true

In [31]:
print(len(info))

2

In [32]:
reg=info.copy()
print(reg)

{'name': ['rishabh', 'Hello'], 'age': [24, 89]}

In [33]:
type(reg)

dict

In [37]:
info.pop("name")

['rishabh', 'Hello']

2

In [36]:
print(info)

{'name': ['rishabh', 'Hello']}

In [45]:
info={ "name":["rishabh","Hello"],
       "age": [24,89]}

In [46]:
print(len(info))

2

In [48]:
info.pop("name")

['rishabh', 'Hello']

In [44]:
print(len(info))

1

In [55]:
info["color"]="blue"
print(info)

{'age': [24, 89], 'color': 'blue'}

## hgdahughusa

In [54]:
print(info)

{'age': [24, 89], 'color': 'blue'}

In [56]:
def temp():
    print("hello")

In [57]:
temp()

hello

In [58]:
def add(a,b):
    return a+b

In [61]:
c = add(1,2)

In [62]:
c

3

In [65]:
a = 2*2

In [66]:
a

4

In [68]:
import math
def add(a,b):    
    c=a+b
    return c
x=int(input("enter val x:"))
y=int(input("enter val y:"))
result=add(x,y)
print(result)

enter val x:1
enter val y:2
3

In [1]:
input("enter val y:")

enter val y:+

'+'

In [3]:
class calc():
    def calculator(a,b,c):
        if c == '+':
            print("Addition performed")
            return a+b
        elif c == '-' :
        print("Substraction Performed")
        return a-b
    elif c == '/':
        print("Division Performed")
        return a/b
    else :
        print("Multiplication Performed")
        return a * B

print("Please enter valid input for Arithmetic operation(+, -, /, *)")
x = int(input("Please enter valid input value of X"))
y = int(input("Please enter valid input value of Y"))
z = input("Please enter valid operator for X and Y")
result = calculator(x,y,z)
print(result)

Please enter valid input for Arithmetic operation(+, -, /, *)
Please enter valid input value of X11
Please enter valid input value of Y12
Please enter valid operator for X and Y/
Division Performed
0.9166666666666666

In [3]:
Mode = 1
Number = 0
if Mode == 1:
    def f(x):
         return x + 5
else:
    def f(x):
         return x - 5
for i in range(0,5):
    Number += f(i)
print(Number)

35

In [5]:
number = 0
for i in range(0,5):
    print(i+1)

1
2
3
4
5

In [7]:
number

15

In [6]:
a = 'ABC'

In [7]:
b = 'D'

In [8]:
a + b + 'E'

'ABCDE'

In [2]:
def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
    print(x)
    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 4
print("The factorial of", num, "is", calc_factorial(num))

4
3
2
1
The factorial of 4 is 24

In [5]:
a = 1
b = 1

In [7]:
if a = b :
    print(a)

SyntaxError: invalid syntax (<ipython-input-7-1572ddc5c17a>, line 1)

In [3]:
a = ["g","h"]

In [4]:
type(a)

list

In [5]:
b = set(a)

In [6]:
type(b)

set

In [11]:
value = {'1':'one',
        '2':'Two'}

In [22]:
a = '12'
z = ""
for i in a:
    z += str(value.get(i)) + " "
print(z)

one Two

In [24]:
import random as r

In [36]:
r.randint(10,1000)

756

In [39]:
r.randrange(1,10)

8

In [40]:
import time as t

In [45]:
t.time()

1574741706.550602

In [47]:
x, y, z = input("Enter a three value: ").split()

Enter a three value: 1 2 3

In [48]:
x,y,z

('1', '2', '3')

In [49]:
a, b = 10, 20
  
# Copy value of a in min if a < b else copy b 
min = a if a < b else b

In [50]:
if a > b :
    print(a)
else:
    print(b)

20

In [8]:
for i in range(3):
    for j in range(3):
        if i == j:
            print(f'{i} and {j} is same')

0 and 0 is same
1 and 1 is same
2 and 2 is same

In [6]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [9]:
15/3

5.0

In [10]:
7/2

3.5

In [11]:
17%2

1

In [12]:
19%2

1

In [13]:
18%2

0

In [36]:
count = 0
c = 0
for i in range(1,4):
    #for even number
    if i%2 == 0:
        count+=1
        #|print("even",count)
    else:
        c+=1
        #print("odd",c)
        
print(f'{count} numbers is even numbers')
print(f'{c} numbers is odd numbers')

1 numbers is even numbers
2 numbers is odd numbers

In [30]:
l = [100,200,300]
for i in l:
    print(i)

100
200
300

In [35]:
a = 10 
b = 123
if a >= 20 & a <= 20:
    print(a)

10

In [39]:
p=0
f=0
d=0
l = [88,60,85,50,42,55,90,95]
for i in l:
    if i <=60 & i >=50:
        f+=1
    elif i<70 & i>61:
        p+=1
    elif i>=70:
        d +=1
print(f'{f} number of students is failed')
print(f'{p} number of students are Pass')
print(f'{d} number of students get dis.')

1 number of students is failed
0 number of students are Pass
4 number of students get dis.

In [42]:
list1 = [1,2,3,3,1,3,2,6,6,8,4,8,4,5,6,6,7,7]
list2 = []
for i in list1:
    if i in list2:
        pass
    else:
        list2.append(i)
print(list2)

[1, 2, 3, 6, 8, 4, 5, 7]

 10

In [65]:
num = int(input(" "))
a = 0
for i in range(0,num):
    a+=i
print(a)

 100
4950

In [67]:
num =int(input(" "))
a = 0
for i in range(0,num):
    a+=i
print(a)

 5
10

In [69]:
num =float(input(" "))

 45.3

In [70]:
a = 0
for i in range(0,10):
    a+=i
print(a)

45

In [11]:
l = [1,2,3]
a = list(map(lambda c : c* c ,l))

In [12]:
a

[1, 4, 9]

In [ ]:
l1 = [2,4,6,8]
b = list(map(lambda x : x * x,l1 ))

In [56]:
d = {}
f = open('temp_new.txt','r')
f.readlines(1)

['rol,age,email\n']